.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.mainBox {
  padding-top: 3rem;
  padding-bottom: 6rem;
  margin-bottom: 6em;
}

.width {
  width: 100%;
}

.flexRow {
  padding-top: 3rem;
  padding-bottom: 6rem;
  margin-bottom: 6em;
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.flexBtw {
  margin-top: 3em;
  flex: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menu {
  padding: 2rem 0;
  border-right: solid 1px #30363d;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 25%;
}

.content {
  padding-right: 10em;
  padding-left: 10em;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 75%;
}

.contentLeft {
  padding-right: 10em;
  padding-left: 10em;
  max-width: 75%;
}

.text p {
  padding-top: 1em;
  padding-bottom: 1em;
}

.title {
  margin: 1em !important;
  margin-bottom: 0.5em !important;
  line-height: 1.15;
  font-size: clamp(2rem, 8vw, 4rem);
}

.description {
  line-height: 1.5;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.link {
  color: black;
  font-size: 2em;
  margin: 1em;
}

.linkMarked {
  color: black;
  font-size: 2em;
  font-weight: bold;
  margin: 1em;
}

.link:hover, .linkMarked:hover{
  color: black;
  font-weight: bold;
}

.input{
  min-width: 50%;
  max-width: 50%;
  padding: 1em !important;
  padding-left: 0em !important;
}

.inputGroup{
  padding-right: 1em !important;
  padding-bottom: 1em !important;
  padding-top: 1em !important;
}

input, select {
  background: #F8FAFC !important;
  border-radius: 4px !important;
}

label {
  color: #6F7482 !important;
}

.factures {
  margin: 1.5em;
  padding: 1.5em;
  background-color: #9893A3;
  display: flex;
  flex-direction: row;
}

.message {
  visibility: hidden;
  position: absolute;
  transition: visibility 2s, padding ;
}




