.flexBoxWithoutPadding {
    padding: 0em;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.offerBox {
    margin-top: 2rem;
    padding: 2rem 0;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition:  background-color 0.5s, transform 0.5s;

}

.offerBox:hover{
    color: white;
    background-color: blueviolet;
    transform: scale(1.1);
}

.offerBox p {
    white-space: pre-line;
    text-align: center;
}

.button{
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    color: white;
    background-color: blueviolet;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin: 0 0.25em 0 0;
    padding: 0.78571429em 1.5em 0.78571429em;
    text-transform: none;
    text-shadow: none;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: 0.28571429rem;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgb(34 36 38 / 15%) inset;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: width 0.5s, height 0.5s, background-color 0.5s, transform 0.5s;
    -webkit-tap-highlight-color: transparent;
}

.offerBox:hover .button{
    color: blueviolet;
    background-color: white;
}

.titleCenter {
    text-align: center;
    margin-top: 15rem;
    line-height: 1.15;
    font-size: clamp(2rem, 8vw, 4rem);
}

.margin {
    /* margin: 10em 0 10em 0; */
}
