.mainBox {
    padding-top: 3rem;
    padding-bottom: 6rem;
    margin-bottom: 6em;
}

.flexBox {
    padding-top: 10rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.titleBox {
    text-align: left;
    max-width: 800px;
    padding: 10rem;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: clamp(2rem, 8vw, 4rem);
}

.description {
    line-height: 1.5;
    font-size: clamp(1rem, 2vw, 1.5rem);
}

