.faqElement {
    border-top: 2px #D7DEF0 solid;
    width: 100%;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: clamp(1rem, 2vw, 1.5rem);
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.title {
    line-height: 1.15;
    font-size: clamp(2rem, 8vw, 4rem);
    text-align: center;
}

.subTitle {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    color: #9893A3;

    text-align: center;
}

.contentTitle {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;

    text-align: center;

    color: #2F2E41;
}

.rawFAQ {
    margin: 14px 0 14px 0;
}
.icon {
    padding: 10px;
}
.question {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 120%;
    margin: 0;
}

.answer {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: rgba(60, 60, 67, 0.85);
    transition: opacity 10s;
}

.answer p {
    transition: opacity 10s;
}

.tr-enter {
    opacity: 0;
}
.tr-enter-active {
    opacity: 1;
    transition: opacity 200ms;
}
.tr-exit {
    opacity: 1;
}
.tr-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}
