.container {
  min-height: 100vh;
  padding: 0 88px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 6rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.mainBox {
  padding-top: 3rem;
  padding-bottom: 6rem;
  margin-bottom: 6em;
}


.title {
  margin: 0;
  line-height: 1.15;
  font-size: clamp(2rem, 8vw, 4rem);
}

.subscriptionX {
  font-weight: bold;
}

.description {
  line-height: 1.5;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.tag {
  border-radius: 5px;
  padding: 0.75rem;
  font-size: var(--fz-s);
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  margin-right: 1rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 3rem;
}

.card {
  margin-right: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: var(--logo-color-900);
  border-color: var(--logo-color-900);
}

.card h2 {
  margin: 0 0 .5rem 0;
  font-size: 1.25rem;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.hero {
  text-align: left;
  max-width: 800px;
}

.links {
  display: flex;
  align-items: center;
}

.centeredText {
  text-align: center
}

.btn {
  font-size: 1.125rem;
  min-height: 3rem;
  min-width: 3rem;
  padding: 0.5rem 1.25rem;
  align-self: center;
  display: inline-flex;
  align-items: center;
  background: var(--logo-color-900);
  color: white;
  border-radius: 8px;
  transition: background .2s ease-in;
  font-weight: 500;
  border: none;
}

.btn:hover {
  background: var(--logo-color-1000);
}

.btn svg {
  margin-left: 0.5rem;
  font-size: var(--fz-l);
}

.btn:hover svg {
  transform: scale(1.1);
  transform-origin: center;
  -webkit-animation: heartbeat 1.5s infinite both;
  animation: heartbeat 1.5s infinite both;
}

.links .btn:first-child {
  margin-right: 1rem;
}

.links .btn:last-child {
  background: transparent;
  color: black;
  font-weight: 400;
}

.links .btn:last-child:hover {
  background: var(--logo-color-100);
}

.tags {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 3rem;
}

@media (max-width: 876px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .container {
    padding: 0 22px;
  }

  .card {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1.0);
  } 
  20% {
    -webkit-transform: scale(1.0);
  }
  50% {
    -webkit-transform: scale(.90);
  }
  100% {
    -webkit-transform: scale(1.0);
}
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
  20% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
  50% {
    -webkit-transform: scale(.90);
    transform: scale(.90);
  }
  100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
