.container {
    min-height: 100vh;
    padding: 0 88px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero {
    text-align: left;
    width: 80vw;
    padding: 5rem;
    background: rgba(236, 235, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

.title {
    margin-top: 6rem !important;
    line-height: 1.15;
    font-size: clamp(2rem, 8vw, 4rem);
    text-align: center;

}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.informations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avantages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.avantages p {
    white-space: pre-line;
    text-align: center;
}


.containerButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.button {
    padding: 1rem;
    background: #6C63FF;

    border: 1px solid #6C63FF;
    box-sizing: border-box;
    text-align: center;

    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;

    color: #FFFFFF;
}

.button:hover {
    background: #5C53FF;

}
