.main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
}

.hero {
    text-align: left;
    width: 80%;

}

h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 64px;
    /* identical to box height, or 107% */

    text-align: center;
    letter-spacing: -1px;

    margin-top: 30px !important;
    margin-bottom: 30px !important;
}
.title {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 46px;
    /* identical to box height, or 115% */


    /* Neutral[500] */

    color: #2F2E41;
}
.container {
    background: #ECEBFF;
    padding: 20px;
    margin: 20px;
}

.creditCard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.price {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

a {
    color: #7B61FF;
}

.button {
    background: #6C63FF;

    border: 1px solid #6C63FF;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 10px;
    margin-top: 15px;

    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;

    /* Neutral[100] */

    color: #FFFFFF;

}

.button:hover {
    background: #5C53FF;
}
